In [33]:
import pandas as pd
import config as c
import postgres as p
from main import connect_db
import pandasql
import warnings
warnings.filterwarnings('ignore')

In [34]:
con = connect_db(host_name = c.HOST_NAME, dbname=c.DBNAME, port=c.PORT, 
                      username=c.USERNAME, password= c.PASSWORD)
curr = con.cursor()

Connected!

Fetching data from the database

In [35]:

columns_to_take = ['country_code', 'country', 'sub_region',
                    'intermediate_region','household_net_wealth', 'personal_earnings', 'quality_support_network','mg_m3', 'water_quality_percentage',
                    
                    'life_expectancy', 'student_scores', 'leisure_time', 'life_satisfaction_score']
                    

string = """SELECT country_code, country, sub_region,
                    intermediate_region,household_net_wealth, personal_earnings, quality_support_network,mg_m3, water_quality_percentage,
                    
                    life_expectancy, student_scores, leisure_time, life_satisfaction_score 
                    
                    FROM happiness"""


df = pd.read_sql(string, con, columns = columns_to_take)

df.head()

,country_code,country,sub_region,intermediate_region,household_net_wealth,personal_earnings,quality_support_network,mg_m3,water_quality_percentage,life_expectancy,student_scores,leisure_time,life_satisfaction_score
0,AUS,Australia,Oceania,Australia and New Zealand,528768.0,55206.0,93.0,6.7,92.0,83.0,499.0,14.360,7.1
1,AUT,Austria,Europe,Western Europe,309637.0,53132.0,92.0,12.2,92.0,82.0,491.0,14.510,7.2
2,BEL,Belgium,Europe,Western Europe,447607.0,54327.0,90.0,12.8,79.0,82.1,500.0,15.520,6.8
3,CAN,Canada,Americas,Northern America,478240.0,55342.0,93.0,7.1,90.0,82.1,517.0,14.570,7.0
4,CHL,Chile,Americas,Latin America and the Caribbean,135787.0,26729.0,88.0,23.4,62.0,80.6,438.0,14.974,6.2